@font-face {
    font-family: "KBOLD";
    src: url('../../Fonts/KALAMEH_BOLD.TTF');
}
@font-face {
    font-family: "KREG";
    src: url('../../Fonts/KALAMEH_REGULAR.TTF');
}
@font-face {
    font-family: "KTHIN";
    src: url('../../Fonts/KALAMEH_THIN.TTF');
}
@font-face {
    font-family: "KBLACK";
    src: url('../../Fonts/KALAMEH-BLACK.TTF');
}

@font-face {
    font-family: "Kflow";
    src: url('../../Fonts/KALAMEHFANUM-BOLD.TTF');
}

html,
#root {
    background: #0D0D0D;
    color: #FF5631;
}


.Titr-React {
    font-family: "KBLACK";
    color: #ffffff;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    
    line-height: normal;
}
.Titr-React span{
    color: #FF5631;
    font-family: "KBLACK";
}


.Todo-Task{
    background: #1E1E1E;
    border: 1px solid #dbcaaf95;
    border-radius: 8px;
}

.Todo-Task-Titr {
    margin: 0 .6rem;
    color: #DBCAAF;
    font-weight: 900 !important;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: .3px;
    word-spacing: 1px;
    font-family: "Kflow";
}
.Todo-Task-Icon{
    color:#dbcaafdf ;
    font-size: 1.5rem;
}

.circle-todo{
    background: transparent;
    border: 2px solid #FF5631;
    width: 30px;
    height: 30px;

}

.proloader-animaite{
    animation: "preLoader" 2.5s ease-in;
}
.proloader{
    position: fixed;
    background-color: #0D0D0D;
    z-index: 10;
    inset: 0;
    width: 100%;
    height: 100%;   
    
}
@media (max-width:512px) {
    .proloader *{
        font-size: 2rem ; 
    }
}
.proloader *{
    font-size: 3rem ; 
}

@keyframes preLoader {
    0%{
        scale: 0;
    }
    50%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
}

/* Global  */
.w-lg-50{
    width: 50% ;
}
@media (max-width: 912px) { 
    .w-lg-100-min{
        width: 100%;
    }
 }

