* {
    font-family: "K-BLACK";
}

.headerTodo {
    background: #0D0D0D;
    border: 1px solid #cebea491;
    border-radius: 30px;
    padding: 2rem 0;

}

.card {
    border: none;
    background: #0D0D0D;

}

.circleResalt {
    background: #FF5631;
    color: #0D0D0D;
    width: 130px;
    height: 130px;
}

.circleResalt strong {
    font-size: 3rem;
    font-weight: bolder;
    font-family: "KBOLD", Geneva, Tahoma, sans-serif;

}

.TitrTodo h3 {
    color: #cebea4;
    font-family: "KBLACK", Geneva, Tahoma, sans-serif;

}

.TitrTodo h6 {
    color: #cebea4;
    font-family: "KREG";
    font-size:1.8rem;
    margin-top: -7px;
}